.App {
  text-align: center;
}

.MainMenu {
  height: 40px;
  width: 100%;
  background-color: #202020;
}

.dashboard {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.dashboard-header {
  /* flex: 0 1 auto; */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: #202020;
  text-align: center;
  color: white;
  padding: 10px;
}

.dashboard-content {
  flex: 1 1 auto;
}

.dashboard-footer {
  flex: 0 1 20px;
  background-color: #202020;
  color: white;
  text-align: center;
  font-size: xx-small;
  padding-top: 5px;
}
